﻿<form #contactForm="ngForm" name="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-group" [class.has-error]="firstName.errors && (firstName.dirty || firstName.touched)">
        <label for="firstName">First Name</label>
        <input type="text" #firstName="ngModel" name="firstName" [(ngModel)]="contact.firstName" required class="form-control" id="firstName" placeholder="First Name">
        <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)"
             class="alert alert-danger">
            <label [hidden]="!firstName.errors.required" class="control-label" for="firstName">First Name is required</label>
        </div>
    </div>
    <div class="form-group" [class.has-error]="lastName.errors && (lastName.dirty || lastName.touched)">
        <label for="lastName">Last Name</label>
        <input type="text" #lastName="ngModel" name="lastName" [(ngModel)]="contact.lastName" required class="form-control" id="lastName" placeholder="Last Name">
        <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)"
             class="alert alert-danger">
            <label [hidden]="!lastName.errors.required" class="control-label" for="lastName">Last Name</label>
        </div>
    </div>
    <div class="form-group">
        <label>Phones</label>
        <button (click)="addPhone()" class="btn btn-info">Add new phone</button>
        <div *ngFor="let phone of contact.phones; let i = index" class="input-group" [class.has-error]="('phone_' + i).errors && (('phone_' + i).dirty || ('phone_' + i).touched)">
            <input  type="text" pattern="\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*" #phone_{{i}}="ngModel" name="phone_{{i}}" [(ngModel)]="contact.phones[i]" required class="form-control" id="phone_{{i}}" placeholder="Phone">
            <span class="input-group-addon glyphicon glyphicon-remove" (click)="removePhone(i)"></span>
        </div>
    </div>
    <button [disabled]="!contactForm.form.valid" type="submit" class="btn btn-default">Submit</button>
</form>