﻿
<div class="col-md-8">
    <table *ngIf="contacts.length > 0" class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phones</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td>
                <input class="form-control" type="text" #firstNameFilter (keyup)="0"/>
            </td>
            <td>
                <input class="form-control" type="text" #lastNameFilter (keyup)="0"/>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr *ngFor="let contact of contacts | contactsFilter: firstNameFilter.value:'firstName' | contactsFilter: lastNameFilter.value:'lastName'">
            <th scope="row">{{contact.id}}</th>
            <td>{{contact.firstName}}</td>
            <td>{{contact.lastName}}</td>
            <td>
                <p *ngFor="let phone of contact.phones">{{phone}}</p><br/>
            </td>
            <td>
                <button type="button" (click)="editContact(contact.id); $event.stopPropagation()" class="btn btn-info">Edit Contact</button>
            </td>
        </tr>
        </tbody>
    </table>
    <h1 *ngIf="contacts === undefined || contacts.length == 0">
        <span class="label label-info">No Contacts</span>
    </h1>
    <nav *ngIf="loadMoreIsAvailable">
        <ul class="pager">
            <li><a (click)="loadMoreContacts(); $event.stopPropagation()">Load more ...</a></li>
        </ul>
    </nav>
</div>
<div class="col-md-4">
    <button type="button" (click)="addContact(); $event.stopPropagation()" class="btn btn-primary btn-lg">Add New Contact</button>
    <input type="file" accept=".csv" value="Load File" (change)="uploadFile($event)" class="btn btn-success" />
</div>
