﻿<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap -->
    <link href="lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <app></app>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

<!-- Polyfill(s) for older browsers -->
<script src="lib/node/core-js/client/shim.min.js"></script>

<script src="lib/node/zone.js/dist/zone.js"></script>
<script src="lib/node/reflect-metadata/Reflect.js"></script>
<script src="lib/node/systemjs/dist/system.src.js"></script>

<script src="js/systemjs.config.js"></script>
<script>
      System.import('app').catch(function(err){ console.error(err); });
</script>
 
</body>
</html>